{% extends "master.html" %}
{% load static %}


{% block crumbs %}
    <li class="breadcrumbs__item"><a href="{% url 'processes:process-list' %}">Processes</a></li>
    <li class="breadcrumbs__item"><a href="{% url 'processes:process-detail' pk=process.pk %}">{{ process }}</a></li>
{% endblock %}


{% block content %}
<article class="process p-small">

    <header class="header">
        <h1>{{ process.name }}</h1>
    </header>

    <section class="flex-container section">
        <div class="flex-column flex-column--center">
            <h1>Process {{ process.name }}</h1>
            <p>{{ process.description }}</p>
        </div>

        <div class="flex-column flex-column--center">
            <h1>Department {{ process.department }}</h1>
            <p>{{ process.department.contact_details }}</p>
        </div>
    </section>

    <!-- Relations with other processes -->
    <section class="section ">
        <h1 class="header">Relations with other processes</h1>
        <div class="flex-container process-relation">

            <div class="flex-column flex-column--center">
                <h4>Initiated by </h4>
                <div class="process-relation__column">
                    {% for initiating_process in process.initiating_processes.all %}
                        <a href="{% url 'processes:process-detail' pk=initiating_process.pk %}" class="item-link process-relation__item">{{ initiating_process.name }}</a>
                    {% empty %}
                        <p>None</p>
                    {% endfor %}
                </div>
            </div>


            <div class="flex-column flex-column--center process-relation__column process-relation__column--center">
                <div class="process-relation__item process-relation__item--center">
                    {{ process }}
                </div>
            </div>

            <div class="flex-column flex-column--center">
                <h4> Initiates </h4>
                <div class="process-relation__column">
                    {% for initiated_process in process.initiates.all %}
                        <a href="{% url 'processes:process-detail' pk=initiated_process.pk %}" class="item-link process-relation__item">{{ initiated_process.name }}</a>
                    {% empty %}
                        <p>None</p>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>


    <!-- Applications -->
    <section class="process-app section">
        <h1 class="header">Applications</h1>

        {% regroup object.applications_with_layers by layer as layer_list %}
        {% for layer, apps in layer_list %}
            <div class="process-app__row flex-container">
                <div class="flex-column flex-column--center flex-column--small">
                    {{ layer }}
                </div>
                <div class="flex-column flex-column--large flex-container flex-container--even">
                    {% for app in apps %}
                    <a href="{% url 'applications:application-detail' pk=app.application.pk %}" class="item-link">
                        {{ app.application }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        {% empty %}
            <span>No applications are configured for this process</span>
        {% endfor %}

    </section>

</article>
{% endblock %}
