{% extends "master.html" %}
{% load static i18n %}

{% block crumbs %}
    <li class="breadcrumbs__item"><a href="{% url 'processes:process-list' %}">Processes</a></li>
{% endblock %}

{% block content-header-subtitle %}{% trans "Deployed processes in the organization" %}{% endblock %}
{% block content-header-title %}{% trans "Processes" %}{% endblock %}
{% block content-header-explanation %}
{% blocktrans trimmed %}
    On this page you see a list of processes as they are handled
    within the organization. You can use the filters on the right
    hand side to filter by the department owning the process.
{% endblocktrans %}
{% endblock %}


{% block content %}

    <article class="list-view">
        <section class="flex-container">

            <div class="flex-column p-left">
                {% for process in object_list %}
                <div class="list-item card">
                    <h4><a href="{% url 'processes:process-detail' pk=process.pk %}" >{{ process }}</a></h4>
                    <span>Department: {{ process.department }}</span>
                </div>
                {% endfor %}
            </div>

            <div class="filter">
                <h4>Filter</h4>
                <form action="" method="get">
                    {{ filter.form.as_p }}
                    <input type="submit" class="button"/>
                </form>
            </div>

        </section>

    </article>

{% endblock %}
