{% extends "master.html" %}
{% load static %}

{% block content %}

    <article class="process-list">
        <header class="process-list__header">
            <h1>Processes</h1>
        </header>

        {% for process in object_list %}
        <section class="process-list__item">
            <a href="{% url 'processes:process-detail' pk=process.pk %}" >Process {{ process }}</a>
            <span>Department: {{ process.department }}</span>
        </section>
        {% endfor %}

    </article>

{% endblock %}
