body {
  background-color: #F2F2F2;
  font-family: "Fira Sans", -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  margin: 0;

  &, & * {
    box-sizing: border-box;
  }
}
