@import "../lib/margins";

.content-header {
  padding: 1em 2.5em;
  text-align: left;

  & &__title {
    @include reset-block-margins;
    font-size: 2em;
    margin: 0 0 1em;
  }

  & &__subtitle {
    @include reset-block-margins;
    font-size: 1em;
    margin: 0 0 1em;
  }
}
