.content {
  display: flex;
  flex-direction: column;
  height: 80vh;

  &__list {
    justify-content: center;
    flex: 1;
  }

  &__item {
    padding: 1em;
    margin: 1em;
    height: 20px;
    text-decoration: none;
  }

  &__admin {
    padding: 0 1em;
    text-align: right;
  }
}
