.index {
  //display: flex;
  //flex-direction: column;

  &__list {
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 4em;
    //flex: 1;
  }

  &__item {
    padding: 2em 1em 1em;
    min-width: 10em;
    min-height: 6em;
    text-decoration: none;
    border: 1px solid #2A5587;
    background-color: #2A5587;
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;

    &:hover {
      background-color: #3669A5;
      border-color: #3669A5;
      transform: scale(1.02);
    }
  }

  a.index__item  {
    color: #FFF;
  }

  &__item+&__item {
    margin-left: 2em;
  }
}

.index-admin {
  padding: 2em;
  position: absolute;
  bottom: 0;
  right: 0;
}
