@import "../lib/colors";
@import "../lib/typography";

$list-card-image-size: 100px !default;

.list-card {
  padding: 1rem 2.5rem;
  border: solid 1px $border-color;
  border-radius: 3px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  &:hover {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
                0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    transition: all 0.2s ease;
  }

  & + & {
    margin-top: 1.5rem;
  }

  & &__title {
    display: block;
    margin-bottom: 1em;

    @include subtitle();
    text-transform: none;
    color: $theme-primary-color;
    font-weight: 600;
    font-size: 1.2rem;
  }

  & &__details {
    margin: 0;
  }

  & &__image {
    width: $list-card-image-size;
    height: $list-card-image-size;
    margin-right: 2.5rem;
    margin-left: -1.5rem;
  }
}
