// A page/block of content listing items
@import "../lib/colors";

.list-view {
  padding: 1em 2.5em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  & &__results {
    width: calc(70% - 2.5em);
  }

  & &__filters {
    background-color: $filter-background-color;
    padding: 0 1em 1em 1em;
    border-radius: 5px;
    width: calc(30% - 2.5em);

    ul {
      padding-inline-start: 0;
    }

    li {
      list-style-type: none;
    }
  }
}
