{% extends "master.html" %}
{% load i18n %}


{% block breadcrumbs %}{% endblock %}

{% block content-header-subtitle %}{% trans "Manage processes and applications" %}{% endblock %}
{% block content-header-title %}{% trans "Beheerconsole" %}{% endblock %}
{% block content-header-explanation %}
{% blocktrans trimmed %}
    The beheerconsole gives insight into the deployed processes within the
    organization and the applications that facilitate this. Processes and
    applications are related to each other.
    <br>
    Please choose your perspective.
{% endblocktrans %}
{% endblock %}


{% block content %}
<article class="index">

    <a class="index__item" href="{% url 'processes:process-list' %}">
        {% trans "Processes" %}
    </a>
    <span class="index__item-separator"></span>
    <a class="index__item" href="{% url 'applications:application-list' %}">
        {% trans "Applications" %}
    </a>

</article>

<section class="index-admin">
    <span>Go to <a href="{% url 'admin:index' %}">admin</a></span>
</section>
{% endblock %}
