{% extends "master.html" %}
{% load static %}


{% block content %}
<article class="content">
  <img class="demo__logo-img" src="{% static 'img/maykinmedia_logo.png' %}">

  <header class="content__header">
    <h1>Beheerconsole</h1>
  </header>

  <section class="content__list">
      <div class="content__item">
        <a href="{% url 'processes:process-list' %}">Processes</a>
      </div>
      <div class="content__item">
        <a href="{% url 'applications:application-list' %}">Applications</a>
      </div>
  </section>

  <section class="content__admin">
    <span>Go to <a href="{% url 'admin:index' %}">admin</a></span>
  </section>

</article>
{% endblock %}
